In [1]:
import os
import pandas as pd

In [2]:
###some functions I am creating myself
#about_df - print some things about the dataset
def about_df(df):
    print("(proc print) first 5 observations")
    print(df.head())
    print("(proc print) last 5 observations")
    print(df.tail())
    print("(dictionary.columns/click view columns) find header/column/variable names")
    print(df.keys())
    print("same as above. columns")
    print(df.columns)
    print("(proc sql count()) rows")
    print(df.count())

###two_columns - tell me about two columns
def two_columns(df,col1,col2):
    print("access a column")
    print(df.loc[:10,col1])
    print("access multiple columns - notice double brackets in the code")
    print(df[[col1,col2]].head())
    print("I only want these two columsn in a dataframe")
    df2 = df[[col1,col2]].copy()
    print(df2.head())
    print("(missing()) check for missing numbers")
    print(df2.isnull().sum())

###create_age - simple age calculation as of 2021
def create_age(series):
    return 2021 - series

###year_mock - define a year based on mockaroo-generated gender values
def year_mock(series):
    if series == "Female":
        return 1984 
    elif series == "Bigender":
        return 1950 
    elif series == "Polygender":
        return 2000
    elif series == "Agender":
        return 1993
    elif series == "Non-binary":
        return 1972
    elif series == "Male":
        return 1959
    elif series == "Genderfluid":
        return 1921
    else:
        return 2016

###age_groups - recode age into groups as a different column        
def age_groups(series):
    if series < 20:
        return "15-19 yrs"
    elif 20 <= series < 25:
        return "20-24 yrs"
    elif 25 <= series < 45:
        return "25-44 yrs"
    else:
        return "45 and up"

In [4]:
#print() will add a line. So will \n
print()        
print("    (SAS equivalent procs, statements, and functions are in parentheses)")
#CSV file - mockaroo
#escape characters https://www.w3schools.com/python/gloss_python_escape_characters.asp
#      if you had a file path you would need it to look like //my//file//path//escape.txt
print("Get a CSV file and view information about it\n")
print("notice that new line mark in the code?")
#getting environment variables
print("(SYSGET) get environment variables")
#This isn't connected to anything so it's commented out. This is how you get your environment variables.
#sandbox=os.environ['SAND']

    (SAS equivalent procs, statements, and functions are in parentheses)
Get a CSV file and view information about it
(SYSGET) get environment variables

In [7]:
print("(%let, libname, variables) assign a variable")
filedat = os.path.join("data","MOCK_DATA.csv")
#df is a pandas dataframe that will have your data in it
print("(DATA;SET;) df is a dataframe\n")
df = pd.read_csv(filedat)
print("(SAS dictionary) About the data frame")
about_df(df)

(%let, libname, variables) assign a variable
(DATA;SET;) df is a dataframe

(SAS dictionary) About the data frame
(proc print) first 5 observations
   id first_name    last_name                         email       gender  \
0   1   Mariette       McCabe         mmccabe0@google.co.jp  Genderfluid
1   2     Andrey        Erley        aerley1@yellowbook.com      Agender
2   3    Gustavo  Antoszewski  gantoszewski2@feedburner.com         Male
3   4     Jonell      Romeril        jromeril3@japanpost.jp     Bigender
4   5        Pru     Laurance  plaurance4@timesonline.co.uk       Female

           zip     income                    movies
0       658065  $31695.14                    Ludwig
1          NaN  $66249.68                    Dororo
2        33150  $21292.77  Discovery of Heaven, The
3     4485-824  $52098.38                 Her Alibi
4  79104 CEDEX  $80674.04              Bottle Shock
(proc print) last 5 observations
       id first_name   last_name                        email       gender  \
995   996    Berkley     Trinbey      btrinbeyrn@symantec.com     Bigender
996   997      Nessa      Gorham          ngorhamro@state.gov       Female
997   998     Donica    Waddoups  dwaddoupsrp@arstechnica.com  Genderqueer
998   999     Clarey      Hadden       chaddenrq@geocities.jp   Non-binary
999  1000    Cyrille  Cattermole       ccattermolerr@hibu.com   Polygender

          zip     income                                             movies
995       NaN  $80920.24  Cairo Station (a.k.a. Iron Gate, The) (Bab el ...
996    125 71  $54865.32            Off the Menu: The Last Days of Chasen's
997     53405  $49141.86                         Rambo: First Blood Part II
998  7005-676  $60270.51      Tiny Toon Adventures: How I Spent My Vacation
999       NaN  $28783.40                                            Scorpio
(dictionary.columns/click view columns) find header/column/variable names
Index(['id', 'first_name', 'last_name', 'email', 'gender', 'zip', 'income',
       'movies'],
      dtype='object')
same as above. columns
Index(['id', 'first_name', 'last_name', 'email', 'gender', 'zip', 'income',
       'movies'],
      dtype='object')
(proc sql count()) rows
id            1000
first_name     970
last_name     1000
email         1000
gender        1000
zip            472
income         970
movies         970
dtype: int64