# **Welcome to this Notebook!**
## You can ctrl+F search it for SAS commands and functions and other keywords.

* proc print
* proc print (obs=5)
* proc print var myvar1 myvar2
* keep myvariable1 myvariable2
* missing(myvariable)=1
* recoding a variable
* SYSGET
* put %put
* proc import a csv
* %let, libname, variables
* DATA;SET;
* SAS dictionary
* proc freq
* proc freq /missing
* recode - create age from yob
* crosstab example
* mean category for numeric variables
* DATA keep myvariable1 myvariable2
* (proc freq) find proportions, round to 2 decimal places
* proc print where
* proc print where ID
* STRINGS (index > 0)
* proc sort

In Python, you have to import packages that your program needs. Pandas is a popular one. You can import only certain parts of a package like pandas or the whole thing, like I've done below.

In [1]:
###Many examples in one document
###this cell won't print anything, and doesn't mirror any behavior in Base SAS that you do on a day to day basis
###    you have to tell python what modules/packages you'll be using in a script, and the dependencies for those packages
###    need to be present in your environment

#os is used in below cells for examples of getting environment variables (same for Windows and Linux), and defining a filepath
#os can be used to define an actual file rather than just a path using os.fdopen, 
#    and you need to close files after you open them
#os can also be used to check if a file exists or if it's a file or a directory
#here is the documentation link for os https://docs.python.org/3/library/os.html
#search for os.environ, os.path.join, os.path, and os.fdopen to get
#    a sense of the documentation for python now that you know what these do!
import os

#pd is a shorthand that I define for pandas
import pandas as pd

Python allows you to create anything you need. You can create functions that return something. It makes it easy to reuse code reliably.

In [2]:
###some functions I am creating myself
###this cell won't print anything

#sometimes, you'll use a function to print something that you want to look at every time
#the function doesn't return anything, see below for an example in create_age, year_mock, and age_groups
#sometimes, a function will set a variable associated with an object
#about_df - print some things about the dataset
def about_df(df):
    print("\n(proc print obs=) first 5 observations 'df.head()'")
    print(df.head())
    print("\n(proc print obs=) last 5 observations 'df.tail()'")
    print(df.tail())
    print("\n(dictionary.columns/click view columns) find header/column/variable names 'df.keys'")
    print(df.keys())
    print("\nsame as above. 'df.columns'")
    print(df.columns)
    print("\n(proc sql count()) rows 'df.count()'")
    print(df.count())

###two_columns - tell me about two columns
def two_columns(df,col1,col2):
    print("access a column 'df.loc'")
    print(df.loc[:10,col1])
    print("(proc print var myvar1 myvar2 ) access multiple columns - notice double brackets in the code")
    print(df[[col1,col2]].head())
    print("(keep myvariable1 myvariable2) I only want these two columns in a dataframe")
    df2 = df[[col1,col2]].copy()
    print(df2.head())
    print("(missing()) check for missing numbers")
    print(df2.isnull().sum())

###create_age - simple age calculation as of 2021
###    sometimes you'll want a function to return something, in this case, we're returning a series where you
###    subtract each element from 2021 and return the whole series
def create_age(series):
    return 2021 - series

###(recoding a variable) year_mock - define a year based on mockaroo-generated gender values
def year_mock(series):
    if series == "Female":
        return 1984 
    elif series == "Bigender":
        return 1950 
    elif series == "Polygender":
        return 2000
    elif series == "Agender":
        return 1993
    elif series == "Non-binary":
        return 1972
    elif series == "Male":
        return 1959
    elif series == "Genderfluid":
        return 1921
    else:
        return 2016

###age_groups - recode age into groups as a different column        
def age_groups(series):
    #series.fillna(-999)
    if series < 20:
        return "15-19 yrs"
    elif 20 <= series < 25:
        return "20-24 yrs"
    elif 25 <= series < 45:
        return "25-44 yrs"
    else:
        return "45 and up"

(SAS equivalent procs, statements, and functions are in parentheses)

In [3]:
#This cell shows one way to get environment variables and a way to use them as a filepath.
print("(SYSGET) get environment variables - see the next line for the syntax")
print("sandbox=os.environ['SAND']\n")
print("(PUT and %PUT) notice the \\n in the code. It creates a new line like print() does.")

javahome=os.environ['JAVA_HOME']
#print("javahome=",javahome)

#(proc import a csv) example of reading the data from a specified file path
#sandbox=os.environ['SAND']
#filedat = os.path.join(sandbox,"pythonpresent","MOCK_DATA.csv")
#df = pd.read_csv(filedat)

(SYSGET) get environment variables - see the next line for the syntax
sandbox=os.environ['SAND']

(PUT and %PUT) notice the \n in the code. It creates a new line like print() does.

In [4]:
print()        
print("    (SAS equivalent procs, statements, and functions are in parentheses)")
#CSV file - mockaroo
#escape characters https://www.w3schools.com/python/gloss_python_escape_characters.asp
#      if you had a file path you would need it to look like //my//file//path//escape.txt
print("Get a CSV file and view information about it")
print("(%let, libname, variables) assign the data frame to a variable")
df = pd.read_csv('MOCK_DATA.csv')
#df is a pandas dataframe that will have your data in it
print("(DATA;SET;) df is a dataframe")

    (SAS equivalent procs, statements, and functions are in parentheses)
Get a CSV file and view information about it
(%let, libname, variables) assign the data frame to a variable
(DATA;SET;) df is a dataframe

In [5]:
print("(SAS dictionary) About the data frame")
print("Notice this points to the function defined in a cell above 'def about_df:'\n")
about_df(df)

(SAS dictionary) About the data frame
Notice this points to the function defined in a cell above 'def about_df:'


(proc print obs=) first 5 observations 'df.head()'
   id first_name    last_name                         email       gender  \
0   1   Mariette       McCabe         mmccabe0@google.co.jp  Genderfluid
1   2     Andrey        Erley        aerley1@yellowbook.com      Agender
2   3    Gustavo  Antoszewski  gantoszewski2@feedburner.com         Male
3   4     Jonell      Romeril        jromeril3@japanpost.jp     Bigender
4   5        Pru     Laurance  plaurance4@timesonline.co.uk       Female

           zip     income                    movies
0       658065  $31695.14                    Ludwig
1          NaN  $66249.68                    Dororo
2        33150  $21292.77  Discovery of Heaven, The
3     4485-824  $52098.38                 Her Alibi
4  79104 CEDEX  $80674.04              Bottle Shock

(proc print obs=) last 5 observations 'df.tail()'
       id first_name   last_name                        email       gender  \
995   996    Berkley     Trinbey      btrinbeyrn@symantec.com     Bigender
996   997      Nessa      Gorham          ngorhamro@state.gov       Female
997   998     Donica    Waddoups  dwaddoupsrp@arstechnica.com  Genderqueer
998   999     Clarey      Hadden       chaddenrq@geocities.jp   Non-binary
999  1000    Cyrille  Cattermole       ccattermolerr@hibu.com   Polygender

          zip     income                                             movies
995       NaN  $80920.24  Cairo Station (a.k.a. Iron Gate, The) (Bab el ...
996    125 71  $54865.32            Off the Menu: The Last Days of Chasen's
997     53405  $49141.86                         Rambo: First Blood Part II
998  7005-676  $60270.51      Tiny Toon Adventures: How I Spent My Vacation
999       NaN  $28783.40                                            Scorpio

(dictionary.columns/click view columns) find header/column/variable names 'df.keys'
Index(['id', 'first_name', 'last_name', 'email', 'gender', 'zip', 'income',
       'movies'],
      dtype='object')

same as above. 'df.columns'
Index(['id', 'first_name', 'last_name', 'email', 'gender', 'zip', 'income',
       'movies'],
      dtype='object')

(proc sql count()) rows 'df.count()'
id            1000
first_name     970
last_name     1000
email         1000
gender        1000
zip            472
income         970
movies         970
dtype: int64

In [6]:
print("(proc print data=mydata (obs=5)) access a single string-named column df.movies without spaces in the name")
print("     df.movies.head() means you access the first 5 rows only.")
print("     Notice python begins at 0 where SAS almost exclusively begins at 1")
print(df.movies.head())

(proc print data=mydata (obs=5)) access a single string-named column df.movies without spaces in the name
     df.movies.head() means you access the first 5 rows only.
     Notice python begins at 0 where SAS almost exclusively begins at 1
0                      Ludwig
1                      Dororo
2    Discovery of Heaven, The
3                   Her Alibi
4                Bottle Shock
Name: movies, dtype: object

In [7]:
print("get info about two columns")
two_columns(df,'email','gender')

get info about two columns
access a column 'df.loc'
0            mmccabe0@google.co.jp
1           aerley1@yellowbook.com
2     gantoszewski2@feedburner.com
3           jromeril3@japanpost.jp
4     plaurance4@timesonline.co.uk
5            fbeardsworth5@ted.com
6           lshottin6@stanford.edu
7             kdumpleton7@narod.ru
8         xmatthews8@csmonitor.com
9             glere9@princeton.edu
10    ljakuszewskia@infoseek.co.jp
Name: email, dtype: object
(proc print var myvar1 myvar2 ) access multiple columns - notice double brackets in the code
                          email       gender
0         mmccabe0@google.co.jp  Genderfluid
1        aerley1@yellowbook.com      Agender
2  gantoszewski2@feedburner.com         Male
3        jromeril3@japanpost.jp     Bigender
4  plaurance4@timesonline.co.uk       Female
(keep myvariable1 myvariable2) I only want these two columns in a dataframe
                          email       gender
0         mmccabe0@google.co.jp  Genderfluid
1        aerley1@yellowbook.com      Agender
2  gantoszewski2@feedburner.com         Male
3        jromeril3@japanpost.jp     Bigender
4  plaurance4@timesonline.co.uk       Female
(missing()) check for missing numbers
email     0
gender    0
dtype: int64

In [8]:
print("(proc freq) frequency of values in one column")
print(df.loc[:,'gender'].value_counts())

(proc freq) frequency of values in one column
Female         138
Bigender       134
Polygender     130
Agender        126
Non-binary     125
Male           123
Genderfluid    116
Genderqueer    108
Name: gender, dtype: int64

In [9]:
print("(proc freq /missing) frequency of values in one column display missing also")
print("     False in dropna must be capitalized")
print(df.loc[:,'gender'].value_counts(dropna=False))

(proc freq /missing) frequency of values in one column display missing also
     False in dropna must be capitalized
Female         138
Bigender       134
Polygender     130
Agender        126
Non-binary     125
Male           123
Genderfluid    116
Genderqueer    108
Name: gender, dtype: int64

In [10]:
print("recode - create age from yob")
print("let's put year of birth yob on the file - I will use the gender categories provided to create some")
df['yob'] = df['gender'].apply(year_mock)

recode - create age from yob
let's put year of birth yob on the file - I will use the gender categories provided to create some

In [11]:
print("see the new column")
about_df(df)

see the new column

(proc print obs=) first 5 observations 'df.head()'
   id first_name    last_name                         email       gender  \
0   1   Mariette       McCabe         mmccabe0@google.co.jp  Genderfluid
1   2     Andrey        Erley        aerley1@yellowbook.com      Agender
2   3    Gustavo  Antoszewski  gantoszewski2@feedburner.com         Male
3   4     Jonell      Romeril        jromeril3@japanpost.jp     Bigender
4   5        Pru     Laurance  plaurance4@timesonline.co.uk       Female

           zip     income                    movies   yob
0       658065  $31695.14                    Ludwig  1921
1          NaN  $66249.68                    Dororo  1993
2        33150  $21292.77  Discovery of Heaven, The  1959
3     4485-824  $52098.38                 Her Alibi  1950
4  79104 CEDEX  $80674.04              Bottle Shock  1984

(proc print obs=) last 5 observations 'df.tail()'
       id first_name   last_name                        email       gender  \
995   996    Berkley     Trinbey      btrinbeyrn@symantec.com     Bigender
996   997      Nessa      Gorham          ngorhamro@state.gov       Female
997   998     Donica    Waddoups  dwaddoupsrp@arstechnica.com  Genderqueer
998   999     Clarey      Hadden       chaddenrq@geocities.jp   Non-binary
999  1000    Cyrille  Cattermole       ccattermolerr@hibu.com   Polygender

          zip     income                                             movies  \
995       NaN  $80920.24  Cairo Station (a.k.a. Iron Gate, The) (Bab el ...
996    125 71  $54865.32            Off the Menu: The Last Days of Chasen's
997     53405  $49141.86                         Rambo: First Blood Part II
998  7005-676  $60270.51      Tiny Toon Adventures: How I Spent My Vacation
999       NaN  $28783.40                                            Scorpio

      yob
995  1950
996  1984
997  2016
998  1972
999  2000

(dictionary.columns/click view columns) find header/column/variable names 'df.keys'
Index(['id', 'first_name', 'last_name', 'email', 'gender', 'zip', 'income',
       'movies', 'yob'],
      dtype='object')

same as above. 'df.columns'
Index(['id', 'first_name', 'last_name', 'email', 'gender', 'zip', 'income',
       'movies', 'yob'],
      dtype='object')

(proc sql count()) rows 'df.count()'
id            1000
first_name     970
last_name     1000
email         1000
gender        1000
zip            472
income         970
movies         970
yob           1000
dtype: int64

In [12]:
print("see the new column")
two_columns(df,'yob','gender')

see the new column
access a column 'df.loc'
0     1921
1     1993
2     1959
3     1950
4     1984
5     1959
6     2016
7     1950
8     1993
9     1972
10    2000
Name: yob, dtype: int64
(proc print var myvar1 myvar2 ) access multiple columns - notice double brackets in the code
    yob       gender
0  1921  Genderfluid
1  1993      Agender
2  1959         Male
3  1950     Bigender
4  1984       Female
(keep myvariable1 myvariable2) I only want these two columns in a dataframe
    yob       gender
0  1921  Genderfluid
1  1993      Agender
2  1959         Male
3  1950     Bigender
4  1984       Female
(missing()) check for missing numbers
yob       0
gender    0
dtype: int64

In [13]:
print("Now let's create an age column, then look at it.")
df['age'] = df['yob'].apply(create_age)
two_columns(df,'age','yob')

Now let's create an age column, then look at it.
access a column 'df.loc'
0     100
1      28
2      62
3      71
4      37
5      62
6       5
7      71
8      28
9      49
10     21
Name: age, dtype: int64
(proc print var myvar1 myvar2 ) access multiple columns - notice double brackets in the code
   age   yob
0  100  1921
1   28  1993
2   62  1959
3   71  1950
4   37  1984
(keep myvariable1 myvariable2) I only want these two columns in a dataframe
   age   yob
0  100  1921
1   28  1993
2   62  1959
3   71  1950
4   37  1984
(missing()) check for missing numbers
age    0
yob    0
dtype: int64

In [14]:
print("Next, use the age_groups function defined above to create age categories.")
df['age2'] = df['age'].apply(age_groups)
two_columns(df,'age2','age')

Next, use the age_groups function defined above to create age categories.
access a column 'df.loc'
0     45 and up
1     25-44 yrs
2     45 and up
3     45 and up
4     25-44 yrs
5     45 and up
6     15-19 yrs
7     45 and up
8     25-44 yrs
9     45 and up
10    20-24 yrs
Name: age2, dtype: object
(proc print var myvar1 myvar2 ) access multiple columns - notice double brackets in the code
        age2  age
0  45 and up  100
1  25-44 yrs   28
2  45 and up   62
3  45 and up   71
4  25-44 yrs   37
(keep myvariable1 myvariable2) I only want these two columns in a dataframe
        age2  age
0  45 and up  100
1  25-44 yrs   28
2  45 and up   62
3  45 and up   71
4  25-44 yrs   37
(missing()) check for missing numbers
age2    0
age     0
dtype: int64

In [15]:
print("(proc freq) crosstab example")
a = pd.crosstab(df.gender,df.age2, rownames=["Gender"], colnames=["Age groups"])
print(a)

(proc freq) crosstab example
Age groups   15-19 yrs  20-24 yrs  25-44 yrs  45 and up
Gender
Agender              0          0        126          0
Bigender             0          0          0        134
Female               0          0        138          0
Genderfluid          0          0          0        116
Genderqueer        108          0          0          0
Male                 0          0          0        123
Non-binary           0          0          0        125
Polygender           0        130          0          0

Sorting frequency output.

In [16]:
print("sort=False")
print(df['age2'].value_counts(sort=False))
print("\nsort=True")
print(df['age2'].value_counts(sort=True))

sort=False
20-24 yrs    130
15-19 yrs    108
45 and up    498
25-44 yrs    264
Name: age2, dtype: int64

sort=True
45 and up    498
25-44 yrs    264
20-24 yrs    130
15-19 yrs    108
Name: age2, dtype: int64

In [17]:
print("mean category for numeric variables 'df.groupby'")
#save the output in a variable
mean_out=df.groupby('gender').mean()
#print the variable rounding to 2 decimal places
print(round(mean_out,2))

mean category for numeric variables 'df.groupby'
                 id     yob    age
gender
Agender      524.44  1993.0   28.0
Bigender     483.48  1950.0   71.0
Female       505.04  1984.0   37.0
Genderfluid  455.14  1921.0  100.0
Genderqueer  517.17  2016.0    5.0
Male         507.55  1959.0   62.0
Non-binary   516.45  1972.0   49.0
Polygender   494.64  2000.0   21.0

In [18]:
print("(DATA keep myvariable1 myvariable2) saving only a few columns")
df2 = df[['age2','gender']].copy()
about_df(df2)

(DATA keep myvariable1 myvariable2) saving only a few columns

(proc print obs=) first 5 observations 'df.head()'
        age2       gender
0  45 and up  Genderfluid
1  25-44 yrs      Agender
2  45 and up         Male
3  45 and up     Bigender
4  25-44 yrs       Female

(proc print obs=) last 5 observations 'df.tail()'
          age2       gender
995  45 and up     Bigender
996  25-44 yrs       Female
997  15-19 yrs  Genderqueer
998  45 and up   Non-binary
999  20-24 yrs   Polygender

(dictionary.columns/click view columns) find header/column/variable names 'df.keys'
Index(['age2', 'gender'], dtype='object')

same as above. 'df.columns'
Index(['age2', 'gender'], dtype='object')

(proc sql count()) rows 'df.count()'
age2      1000
gender    1000
dtype: int64

In [19]:
#define crosstab
ct = pd.crosstab(index=df['age2'], columns='count')
#(proc freq) find proportions, round to 2 decimal places
a = round(100*ct/ct.sum(),2)
print("crosstab percentages")
print(a)

crosstab percentages
col_0      count
age2
15-19 yrs   10.8
20-24 yrs   13.0
25-44 yrs   26.4
45 and up   49.8

In [20]:
ct = pd.crosstab(df.gender, df.age2, rownames=['Gender'], colnames=['Age groups'])
colpct = round(100*ct/ct.sum(),2)
print("column percents rounded to 2 decimal places")
print(colpct)

column percents rounded to 2 decimal places
Age groups   15-19 yrs  20-24 yrs  25-44 yrs  45 and up
Gender
Agender            0.0        0.0      47.73       0.00
Bigender           0.0        0.0       0.00      26.91
Female             0.0        0.0      52.27       0.00
Genderfluid        0.0        0.0       0.00      23.29
Genderqueer      100.0        0.0       0.00       0.00
Male               0.0        0.0       0.00      24.70
Non-binary         0.0        0.0       0.00      25.10
Polygender         0.0      100.0       0.00       0.00

String searches in Python.

In [21]:
# df['last_name'].isin(['Matthews']) returns true
# the following returns the one row
print("(proc print where) return a row based on a value")
print(df[df['last_name'].isin(['Matthews'])])

(proc print where) return a row based on a value
   id first_name last_name                     email   gender  zip     income  \
8   9    Ximenes  Matthews  xmatthews8@csmonitor.com  Agender  NaN  $70137.22

                                     movies   yob  age       age2
8  Wrestling for Jesus: The Tale of T-Money  1993   28  25-44 yrs

In [22]:
print("(proc print where ID) return a row based on an id")
print(df[df['id'].isin(['5'])])

(proc print where ID) return a row based on an id
   id first_name last_name                         email  gender          zip  \
4   5        Pru  Laurance  plaurance4@timesonline.co.uk  Female  79104 CEDEX

      income        movies   yob  age       age2
4  $80674.04  Bottle Shock  1984   37  25-44 yrs

In [23]:
print("STRINGS (index > 0)")
print("find string containing .contains defaults to case True meaning case sensitive")
print("na=False fills in something for missing values so the following command will resolve")
print(df[df['movies'].str.contains("Caddyshack", case=False, na=False)])

STRINGS (index > 0)
find string containing .contains defaults to case True meaning case sensitive
na=False fills in something for missing values so the following command will resolve
    id first_name last_name                    email gender  zip     income  \
12  13     Stacie  McNickle  smcnicklec@yolasite.com   Male  NaN  $54892.17

           movies   yob  age       age2
12  Caddyshack II  1959   62  45 and up

In [24]:
print("with an OR and returns no rows")
print(df[df['last_name'].str.contains("smith", case=False, na=False) | df['last_name'].str.contains("anderson", case=False, na=False) ] )

with an OR and returns no rows
Empty DataFrame
Columns: [id, first_name, last_name, email, gender, zip, income, movies, yob, age, age2]
Index: []

In [25]:
print("with an OR and returns 12 rows because Anne and anne match with case insensitive search")
print(df[df['first_name'].str.contains("anne|LENE", case=False, na=False)] )

with an OR and returns 12 rows because Anne and anne match with case insensitive search
      id first_name   last_name                          email       gender  \
232  233   Starlene  Jaqueminet  sjaqueminet6g@kickstarter.com      Agender
257  258   Maryanne      Pulley         mpulley75@slashdot.org   Polygender
356  357   Ruthanne       Laite         rlaite9w@cafepress.com   Polygender
449  450   Marianne       Bewsy            mbewsych@unesco.org         Male
523  524     Selene      Grubbe              sgrubbeej@ovh.net   Non-binary
548  549    Shannen      Rameau           srameauf8@oracle.com  Genderqueer
590  591     Evanne      Spence            espencege@exblog.jp      Agender
707  708     Selene    McColley             smccolleyjn@pen.io         Male
775  776     Jannel     Ghidini        jghidinilj@mapquest.com         Male
812  813    Myrlene     Hayford         mhayfordmk@nbcnews.com  Genderfluid
847  848   Bethanne     Mowbray     bmowbraynj@tripadvisor.com         Male
912  913    Annette     Wiggans      awigganspc@yellowbook.com     Bigender

          zip     income                                             movies  \
232     33416  $17715.60                                             Hamlet
257    649787  $30092.89  Then I Sentenced Them All to Death (Atunci i-a...
356  4800-198  $88303.32                                   Formosa Betrayed
449       NaN  $24482.53                                       The Captains
523       NaN  $49117.24      Khroustaliov, My Car! (Khrustalyov, mashinu!)
548       NaN  $40140.08                                      Beautiful Boy
590       NaN  $17456.52                                     The Best of Me
707      7008  $89697.99                            Invitation to the Dance
775       NaN  $64153.22                                    Horrible Bosses
812       NaN  $51082.10                               Good Guys Wear Black
847       NaN  $59299.83                                          Out Late
912    32-859  $34223.24              Battlefield Baseball (Jigoku kôshien)

      yob  age       age2
232  1993   28  25-44 yrs
257  2000   21  20-24 yrs
356  2000   21  20-24 yrs
449  1959   62  45 and up
523  1972   49  45 and up
548  2016    5  15-19 yrs
590  1993   28  25-44 yrs
707  1959   62  45 and up
775  1959   62  45 and up
812  1921  100  45 and up
847  1959   62  45 and up
912  1950   71  45 and up

Sorting Data and Printing in Python.

In [26]:
print("python sort is default ascending order")
print("(proc sort) sort based on one column - numeric")
print("     before sort")
print(df['age'].head())
print("     after sort - small to large")
print(df.sort_values(by='age')['age'].head())

python sort is default ascending order
(proc sort) sort based on one column - numeric
     before sort
0    100
1     28
2     62
3     71
4     37
Name: age, dtype: int64
     after sort - small to large
576    5
598    5
604    5
370    5
369    5
Name: age, dtype: int64

In [27]:
print("(proc sort) sort based on one column - string")
print("     before sort")
print(df['first_name'].head())
print("     after sort ascending - A to Z")
print(df.sort_values(by='first_name')['first_name'].head())

(proc sort) sort based on one column - string
     before sort
0    Mariette
1      Andrey
2     Gustavo
3      Jonell
4         Pru
Name: first_name, dtype: object
     after sort ascending - A to Z
381      Aaren
799       Abie
406      Adara
805    Addison
931       Adel
Name: first_name, dtype: object

In [28]:
print("the same sorts as above but descending order")
print("(proc sort) sort based on one column - numeric")
print("     before sort")
print(df['age'].head())
print("     after sort descending - large to small")
print(df.sort_values(by='age', ascending=False)['age'].head())

the same sorts as above but descending order
(proc sort) sort based on one column - numeric
     before sort
0    100
1     28
2     62
3     71
4     37
Name: age, dtype: int64
     after sort descending - large to small
0      100
545    100
552    100
812    100
238    100
Name: age, dtype: int64

In [29]:
print("(proc sort) sort based on one column - string")
print("     before sort")
print(df['first_name'].head())
print("     after sort descending - Z to A")
print(df.sort_values(by='first_name', ascending=False)['first_name'].head())

(proc sort) sort based on one column - string
     before sort
0    Mariette
1      Andrey
2     Gustavo
3      Jonell
4         Pru
Name: first_name, dtype: object
     after sort descending - Z to A
126    Zilvia
928    Zilvia
368      Zerk
36       Zerk
825      Zena
Name: first_name, dtype: object